<DOCTYPE html>
<html lang="pt">
<title>Search Airplane</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

<style>
	body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
	.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
	.fa-anchor,.fa-coffee {font-size:200px}
</style>
	
<body>

	<!-- Navbar -->
	<div class="w3-top">
	  <div class="w3-bar w3-black w3-card w3-left-align w3-large">
	    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
	    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">Search Airplane</a>
	  </div>
	
	</div>
	
	<!-- Header -->
	<header class="w3-container w3-black w3-center" style="padding:50px 16px">
	  <h1 class="w3-margin w3-jumbo"> AIRPLANE LOCATION</h1>
	  <p class="w3-xlarge">Software Engineering</p>
	</header>

	<!-- First Grid -->
    <div class="container">
		</br><h2 align="center">Database list of the Airplane in territory Swedish</h2></br>
		  <table class="table table-bordered">
		    <thead>
		      <tr align="center">
		        <th>ICAO24</th>
		        <th>Registration</th>
		        <th>Country of Origin</th>
		        <th>In Ground</th>
		      </tr>
		    </thead>
		    <tbody th:each="voo: ${voos}">
		      <tr align = "center">
		        <td th:text="${voo.icao24}"></td>
		        <td th:text="${voo.numero}"></td>
		        <td th:text="${voo.pais}"></td>
		        <td th:text="${voo.solo}"></td>
		      </tr>
		    </tbody>
		  </table>
	</div>

	<script>
	// Used to toggle the menu on small screens when clicking on the menu button
	function myFunction() {
	  var x = document.getElementById("navDemo");
	  if (x.className.indexOf("w3-show") == -1) {
	    x.className += " w3-show";
	  } else { 
	    x.className = x.className.replace(" w3-show", "");
	  }
	}

	</script>

</body>
</html> 
